body {
    background-color: rgb(221, 248, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}


.cabecalho {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}


.cabecalho img{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100%;
}


.cabecalho h1{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 55px;
    font-size: 30px;
}


.segunda {
    display: flex;
}


.outrosartigos {
    border-right: 2px solid black;
    padding-right: 50px;
    margin: 20px;
}


.outrosartigos ul li a{
    text-decoration: none;
    color: black;
    text-align: justify;
    cursor: pointer;
}


.outrosartigos ul li a:hover{
    background-color: rgb(1, 255, 98);
}


.outrosartigos ul li {
    margin-top: 40px;
}


.conteudo {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}


h2 {
    text-align: center;
}


h3 {
    text-align: center;
}


.conteudo p {
    text-align: justify;
}


footer {
    border-top: 3px solid black;
}


footer p {
    text-align: center;
    margin: 40px;
    font-weight: bold;
}


.avaliar {
    border: 1px solid black;
    margin: 90px;
    box-shadow:2px 2px 30px 2px gray;
  }
    
  
.pontos {
    display: flex;
    text-align: center;
    justify-content: center;
}

  
.botao {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background: yellow;
    cursor: pointer;
  }

  
.area {
  margin-right: 200px;
  margin-top:10px;
  justify-content: center;
  text-align: center;
}
  
  
.avaliar h4 {
  justify-content: center;
  text-align: center;
}

  
ul {
  margin-left: 0px;
  margin-top: 40px;
}

  
.imagens {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
  
  
.img {
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  margin-right:20px;
}
  
  
.avaliacao {
  display:flex;
}
  
  
.star-icon{
  list-style-type: none;
  color: #ffe500;
  cursor: pointer;
  font-size: 30px;
  cursor: pointer;
}
  
  
.star-icon::before {
content: "\2605";
}
  
  
.star-icon.ativo ~ .star-icon::before{
  content:"\2606";
}
  
  
.avaliacao:hover ~.star-icon::before{
content: "\2605";
}
  
  
.star-icon:hover ~.star-icon::before{
  content:"\2606";
}


.agradecimento {
margin-left: 30%;
margin-right: 30%;
padding-top: 20px;
padding-bottom: 50px;
margin-top: 15%;
background-color: (221, 248, 255);
box-shadow: 2px 20px 100px 20px rgb(54, 97, 122);
text-align: center;
border-radius: 100%;
}
.bot{
  cursor: pointer;
  border: 1px solid black;
  text-decoration: none;
  padding: 2px;
  color: black;
  background-color: rgb(236, 235, 235);
}


.bot:hover {
  background-color: rgb(94, 0, 94);
  color: #ffe600;
}